

<!-- Page Content -->
<div class="container">

  <p class="featurette-divider"></p>


  <!-- First Featurette -->
  <div class="featurette" id="about">
    <%= image_tag("trish_laptop.jpg", class: "featurette-image img-circle img-responsive pull-right") %>

    <h2 class="featurette-heading">Software Development Student
      <span class="text-muted"> at Ada Developers Academy</span>
    </h2>
    <p class="lead">
      Trish was born and raised in Phoenix, Arizona now living and loving in the wonderful Emerald City of Seattle. Former Social Worker turned Programming Student at <a href="http://adadevelopersacademy.org/">Ada Developers Academy</a> learning to wield her natural inclination to problem-solve, create, design, document, hypothesize, experiment, strategize, adjust, analyze, and repeat to make better happen.
      <p>
      <div class="logo_group">
        <a href="https://twitter.com/SeaCycling"><%=image_tag("Twitter_Logo_Blue.png", class: "logos") %></a>
        <a href="https://github.com/Trishthedish"><%=image_tag("Octocat.png", class:"logos") %></a>
        <a href="mailto:chateaucd@gmail.com.com
"><%=image_tag("Gmail-icon.png", class:"logos")  %></a>
      </div>
      </div>


        <!-- Footer -->
        <footer>
          <div class="row">
            <div class="col-lg-12">
              <p>Copyright &copy; Trish Griego 2014</p>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.container -->

      <!-- jQuery -->
      <script src="js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>
