<h1>WELCOME TO ABOUT</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <!-- <img class="profile-image"src="trish.jpg" height="220" /> -->
      <%= image_tag("trish_bio.jpg", class: 'profile-image') %>
    </div>
      <div class="col-sm- holder">
          <h2>Trish Griego</h2>
          <p>Crafty creator, sleuth, artist, problem solver, proud multidimensional mestiza, dazzled by art, civic engagenent &amp;
   coding. @adaacademy cohort(6) </p>
      </div>

  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4 holder">
        <h2>INTERNET SPEEDS</h2>
        <p>Desgined this site because ...Knowing those three things, the way forward became clear to me. I first seriously grappled with the concept reparations in my early 20s, in the form Randall Robinson's moving argument in The Debt. A taut and beautifully rendered book, The Debt mostly focuses on enslavement. </p>
    </div>
    <div class="col-sm-4 holder">
        <h2>Working with RasberryPi</h2>
        <p>Desgined this site because ...Knowing those three things, the way forward became clear to me. I first seriously grappled with the concept reparations in my early 20s, in the form Randall Robinson's moving argument in The Debt. A taut and beautifully rendered book, The Debt mostly focuses on enslavement. </p>
    </div>
  </div>
</div>
