<h1>WELCOME TO ABOUTx</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img class="profile-image"src="http://placehold.it/500x500" height="220" />

    </div>
    <div class="col-sm-4 holder">
        <h2>Trish Griego</h2>
        <p>Desgined this site because ...Knowing those three things, the way forward became clear to me. I first seriously grappled with the concept reparations in my early 20s, in the form Randall Robinson's moving argument in The Debt. A taut and beautifully rendered book, The Debt mostly focuses on enslavement. </p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <b class="glyphicon glyphicon-camera"></b>
      <h2> Working with Pi</h2>
        <p>learn how to write the code that downloads and displays messages, photos, and videos that timeout after a few seconds. Then create the code that deletes them from the back-end to make them "self destruct." </p>
    </div>
    <div class="col-sm-4">
      <b class="glyphicon glyphicon-user"></b>
      <h2>Learning Materials</h2>
        <p>Learn what Parse.com offers as a "backend-as-a-service" platform. Explore the user account management APIs provided by Parse.com and write the code to create and save a new user in a parse.com data store.
        </p>
    </div>
    <div class="col-sm-4">
      <b class="glyphicon glyphicon-cloud"></b>
      <h2>Store &amp; retrieve data using cloud servers</h2>
        <p>We'll teach you how to upload images, video files, and messages to Parse.com's cloud servers. Then learn to retrieve the data by setting up custom querieres download and display them in the app.
        </p>
    </div>
  </div>

</div>
