<h1>WELCOME TO ABOUT</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img class="profile-image"src="http://placehold.it/500x500" height="220" />

    </div>
    <div class="col-sm-4 holder">
        <h2>Trish Griego</h2>
        <p>Desgined this site because ...Knowing those three things, the way forward became clear to me. I first seriously grappled with the concept reparations in my early 20s, in the form Randall Robinson's moving argument in The Debt. A taut and beautifully rendered book, The Debt mostly focuses on enslavement. </p>
    </div>
  </div>

</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-4 holder">
        <h2>INTERNET SPEEDS</h2>
        <p>Desgined this site because ...Knowing those three things, the way forward became clear to me. I first seriously grappled with the concept reparations in my early 20s, in the form Randall Robinson's moving argument in The Debt. A taut and beautifully rendered book, The Debt mostly focuses on enslavement. </p>
    </div>
    <div class="col-sm-4 holder">
        <h2>Working with RasberryPi</h2>
        <p>Desgined this site because ...Knowing those three things, the way forward became clear to me. I first seriously grappled with the concept reparations in my early 20s, in the form Randall Robinson's moving argument in The Debt. A taut and beautifully rendered book, The Debt mostly focuses on enslavement. </p>
    </div>
  </div>
</div>
