<!-- #index.html.erb -->


<h1 class="jumbotron">Hello World First page</h1>


  <h3>Find SOMETHING...</h3>


<h1>Locations</h1>

<p>
  <%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>
</p>

<br>
