<!-- #index.html.erb -->


<h1 class="jumbotron">Hello World First page</h1>

<section>
  <h1>What's your speed?</h1>
  <div class="container">
    <div class="row">
      <h2>Enter Params Here</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="  search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
