<!-- #index.html.erb -->

<h1 class="jumbotron text-center">Dude Whats my Speed?! </h1>

    <%#image_tag("color_road.jpg") %>
</h1>


<h1>HERE IS A TITLE </h1>
<p>
  Bonbon pudding powder tootsie roll tootsie roll. Jelly-o sugar plum biscuit bonbon gummies fruitcake gingerbread soufflé sweet roll. Jelly-o cookie ice cream pie. Bonbon toffee bonbon pie. Toffee dragée sesame snaps sesame snaps bonbon sesame snaps topping cupcake lemon drops. Marshmallow pudding lollipop cheesecake cake soufflé tootsie roll sweet roll. Candy canes dragée dessert cookie cake toffee. Cookie biscuit jelly. Pudding icing oat cake donut jujubes cookie gummies pastry. Wafer croissant cheesecake bonbon. Cheesecake oat cake sesame snaps jelly beans. Cake bonbon cotton candy macaroon sugar plum sweet. Candy canes brownie croissant cake. Soufflé muffin pie carrot cake lollipop.
</p>

<p>Bonbon cheesecake jelly cookie dragée croissant jujubes. Caramels powder chocolate cake danish cheesecake donut. Cupcake croissant tart bonbon pie. Bonbon biscuit cake chocolate cake fruitcake. Croissant bonbon tiramisu croissant dessert. Brownie soufflé icing chocolate cake dessert oat cake dessert cake. Topping powder pastry halvah caramels chocolate cake croissant. Biscuit topping marshmallow powder gummi bears. Gummi bears sesame snaps halvah jelly beans chocolate cake cheesecake. Carrot cake pudding jujubes. Carrot cake carrot cake marshmallow bonbon chocolate bar biscuit biscuit. Sweet caramels pastry.</p>



<!--
  <h3 class="text-center">Broadband Providers</h3> -->



<!--
<section class="container">
  <div class="row">
    <div class="col-md-10 text-center search_box">
      <h1>Enter your Address to see Broadband Coverage</h1>
      <%= form_tag locations_path, :method => :get do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search Near", :name => nil %>
      <% end %>
    </div>
  </div>
<section> -->

<!-- <br> -->
