<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        MENU
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Analytics</a>
                </li>
                <li>
                    <a href="#">Permissions</a>
                </li>
                <li>
                    <a href="#">Build More Charts</a>
                </li>
                <li>
                    <a href="#">Add User</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper side-obj">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Welcome!</h1>
                    

                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
          <p class="divider"></p>

        </div>
        <!-- /#page-content-wrapper -->
        <section class="container">

          <div class="row">

            <div class="col-md-6 chart_wrap">
              <h1 class="chart_title">Ping Data</h1>
              <%= line_chart @ping_data %>
            </div>

            <div class="col-md-6 chart_wrap">
              <h1 class="chart_title">Download Data</h1>
              <%=line_chart @download_data  %>
            </div>

          </div>
        </section>

        <div class="container">
          <div class="row">
            <div class="col-md-6 chart_wrap">
              <h1 class="chart_title">Upload Speed</h1>
              <%= line_chart @upload_data %>
            </div>
          </div>
        </div>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
