// .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
// color: green;  /*Sets the text hover color on navbar*/
// }
// body {
//   background-image: image-url('openroad.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
// }
//
// this config allowed picture to be stretched over page.
// body {
//   background-color: #fff;
//   color:white;
//   // background: image-url('openroad.jpg');
// }


.login {
  color: blue;
  font-size:
  background-image: url('Twitter_Logo.jpg');

}

.profile-image {
  border-radius: 50%;
  width: 290px;
  height: 286px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}


.right_side_word {
  padding-right: 30px
}


//
// .glyphicon {
//   font-size: 5em;
//   display: block;
//   text-align: center;
//   color: #3a878D;
// }
//
// .holder {
//   background-color: white;
//   border-radius: 10%;
// }

// .search_box {
//   width: 70px;
//   line-height: 30px;
// }


// .user_form {
//   // position: relative;
//   width: 740px;
//   height: 400px;
//   margin: 0 auto;
//   border-style: solid;
//   opacity: 1;
//   border-radius: 20px;
//   font-size: 18px;
//   padding: 20px;
//   padding-left: 20px;
//   background-color: white;
//   font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
// }

// user_form {
//   border: 2em;
//   border-color: black;
//   background-color: white;
//   padding: 11px;
//   color: blue;
//   border: 2px solid black;
// }



.chart_title {
  background-color: rgba(0, 131, 255, 0.33);
  text-align: center;
  border-radius: 8px;
}
//
// .user_info {
//   padding-top: 30px;
// }


body {
    // margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://i.imgur.com/CrGsqzP.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    background: transparent;
    text-shadow: 0px 0px 100px #fff;
}

.headline h2 {
    font-size: 77px;
    background: transparent;
    text-shadow: 0px 0px 100px #fff;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

@media(max-width: 1200px) {
    .headline h1 {
        font-size: 136px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.logos {
  width: 100px;
}

.chart_wrap {
  padding: 10px;
  // outline-color: purple;
  // outline-width: thin;
  // outline-style: solid;
  // padding-right: 15px;
  // padding-left: 15px;
}

div sidebar-wrapper
/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #556d7c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
